@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --yellow:#FFD700;
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:1rem solid rgba(0,0,0.1);
    --outline:0 .1rem solid rgba(0,0,0.1);
}
*{
    font-family:"Poppins",sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;
}

body{
    background: #eee;
}

section{
    padding:2rem 9%;
    scroll-margin-top: 70px;
}

.heading{
    text-align:center;
    padding:2rem 0;
    padding-bottom:3rem;
    font-size:3.5rem;
    color:var(--black);
}


.heading span{
    background:var(--green);
    color:white;
    font-size:3.5rem;
    display:inline-block;
    padding:0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


section{
    padding:4em 10%;
}
.header{
    border:0px solid;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}


.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: var(--yellow);
}

.header .navbar a{
    font-size:1.7rem;
    margin:0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--green);
}

.header .icons div{
    border: 0px solid;
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    border-radius:0.5rem;
    background:#eee;
    color: var(--black);
    font-size:2rem;
    margin-right:0.4rem;
    text-align:center;
    cursor:pointer;
}

.header .icons div:hover{
    background: var(--green);
    color:white;
}

#menu-btn{
    display:none;
}

.header .navbar.active{
    right:2rem;
    transition:0.4s linear;
}



.Home{
    border:0px solid;
    display:flex;
    justify-content:center;
    background: url(https://deorwineblog.b-cdn.net/uploads/2022/06/a22-1.jpg) no-repeat;
    background-position:center;
    background-size:cover;
    padding-top:25rem;
    padding-bottom:10rem;
}

.content{
    border:0px solid;
    text-align:center;
    width:60rem;
}

.content h3{
    color:var(--black);
    font-size:3rem;
}

.content h3 span{
    color:var(--green);
    font-size:3rem;
}


.Home .content p{
    color:var(--light-color);
    font-size:1.7rem;
    padding:1rem 0;
    line-height:1.8;
}

.header .search-form{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right:-110%;
    width:50rem;
    height:5rem;
    background:#fff;
    border-radius:0.5rem;
    overflow:hidden;
    display:flex; //mobile view
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right:2rem;
    transition:0.4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background:none;
    text-transform:none;
    font-size:1.6rem;
    color: var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size:2.2 rem;
    padding-right:2.5 rem;
    color:var(--black);
    cursor:pointer;
}

.header .search-form label:hover{
    color:var(--green);
}

.header .shopping-cart{
    border: 0px solid;
    position:absolute;
    top:100%;
    right:-110%;
    padding:1rem;
    border-radius:0.5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart .box{
    border: 0px solid blue;
    display:flex;
    align-items:center;
    gap:1rem;
    position:relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size:2rem;
    position:absolute;
    top:50%;
    right:2rem;
    cursor:pointer;
    color: var(--light-color);
    transform:translateY(-50);
}
