@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --yellow:#FFD700;
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:1rem solid rgba(0,0,0.1);
    --outline:0 .1rem solid rgba(0,0,0.1);
}
*{
    font-family:"Poppins",sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration:none;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;
}

body{
    background: #eee;
}

section{
    padding:2rem 9%;
    scroll-margin-top: 70px;
}

.heading{
    text-align:center;
    padding:2rem 0;
    padding-bottom:3rem;
    font-size:3.5rem;
    color:var(--black);
}


.heading span{
    background:var(--green);
    color:white;
    font-size:3.5rem;
    display:inline-block;
    padding:0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


section{
    padding:4em 10%;
}
.header{
    border:0px solid;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}


.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: var(--yellow);
}

.header .navbar a{
    font-size:1.7rem;
    margin:0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--green);
}

.header .icons div{
    border: 0px solid;
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    border-radius:0.5rem;
    background:#eee;
    color: var(--black);
    font-size:2rem;
    margin-right:0.4rem;
    text-align:center;
    cursor:pointer;
}

.header .icons div:hover{
    background: var(--green);
    color:white;
}

#menu-btn{
    display:none;
}

.header .navbar.active{
    right:2rem;
    transition:0.4s linear;
}

